.PersonalInfo {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;

}

.Name {
    font-size: 12pt;
}

.Bio {
    font-size: 10pt;
}