.CardHeader {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 100%;
    align-items: center;
}

.Portrait .UserImage{
    height: 60px;
    width: 60px;
    margin: 5px 5px;
    border-radius: 100%;
}
